<div class="container">
    <h1>Weather app</h1>
    <div class="row">
        <div class="item">
            <input type="text" [(ngModel)]="cityName">
            <button (click)="change()">Wyszukaj miasto</button>
            <p class="temperature">{{temperature}}°C</p> 
            <h2>{{name}}</h2>
        </div>
        <div class="item">
            <h2>Latitude: {{lat}}</h2>
            <h2>Longtitude: {{lon}}</h2>
            <h2>Humidity: {{humidity}}%</h2>
        </div>
    </div>
</div>