<div class="mainPage">

    <h1>My To-DO List App</h1>
    <div class="item" *ngFor="let task of tasks">
        <img src="assets/checkboxv2.png" alt="nie działa" *ngIf="!task.isDone" (click)="task.isDone=true; this.save()">
        <img src="assets/checkboxv1.png" alt="nie działa" *ngIf="task.isDone" (click)="task.isDone=false" this.save()>
        <p>{{task.description}}</p>
    </div>
    <div class="newItem">
        <input type="text" placeholder="Nowe zadanie" [(ngModel)]="newTask" (keydown.enter)="addTask()">
    </div>
    <button (click)="removeDone()">Usuń wykonane</button>
    <footer>Copyright &copy; by Jakub Furmanowicz</footer>
</div>