<div class="page">
  <div class="sidebar">
    <a routerLink="/hello"><img src="../assets/angular-logo.png" alt=""></a>
    <nav>
      <ul>
        <li><a routerLink="/hello" routerLinkActive="active">Hello</a></li>
        <li><a routerLink="/interpolation" routerLinkActive="active">Interpolacja</a></li>
        <li><a routerLink="">Hello World!</a></li>
        <li><a routerLink="">Hello World!</a></li>
        <li><a routerLink="">Hello World!</a></li>
      </ul>
    </nav>
    <footer>Copyright &copy; by Jakub Furmanowicz</footer>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>