:root {
    --primary: #3080d0;
    --light: #f0f0f0;
    --light-shade: #e0e0e0;
    --dark: #405060;
    --controls: #c0c0c0;
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.sidebar {
    background-color: var(--light);
    color: var(--dark);
    width: 400px;
}

.sidebar img {
    margin: 5px;
    width: 90%;
    display: flex;
    justify-content: center;
}

footer {
    margin: 5%;
}

.content {
    width: 600px;
    margin: 20px auto;
}

.content p {
    color: var(--dark);
}

.page {
    display: flex;
    min-height: 100vh;
}


.sidebar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar nav ul li a {
    display: block;
    padding: 10px 20px;
    width: 100%;
    text-decoration: none;
    background-color: var(--light);
    color: var(--dark);
}

.sidebar nav ul li a:hover {
    background-color: var(--light-shade);
    color: var(--primary);
}

.active {
    color: var(--primary) !important;
}

code {
    font-family: Consolas;
    color: #405060;
}

pre {
    text-align: start;
}

.content h1 {
    text-align: center;
}

h1 {
    color: #3080d0;
    font-size: large;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: normal;
}

.row {
    display: flex;
}

.errorButton {
    background-color: orangered;
    border-color: black;
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: silver;
}

button {
    margin: 5px;
    color: #3080d0;
    border: none;
    padding: 5px;
    border-radius: 10%;
}

.frame {
    margin: 20px 0;
    padding: 20px;
    background: var(--light);
    border: 1px solid var(--light-shade);
    border-radius: 10px;
}