:root
{
    --dark: #203040;
    --light: #E0E0E0;
    --accent: #f020c0;
}

body
{
    background: var(--dark);
    color: var(--light);
    font-family: Arial;
}

h1
{
    color: var(--accent);
    margin-left: 200px;
    width: calc(50% - 100px);
}