<div class="container">
    <div class="item">
        <h1>Currency Converter</h1>
        <div class="item-container">
            <p>Enter Amount</p> 
            <input type="number">
            <div class="row">
                <div class="chooseCurrency">
                    <p>From</p>
                    <select>
                        <option value="">PLN</option>
                        <option value="">USD</option>
                        <option value="">EUR</option>
                        <option value="">CHF</option>
                        <option value="">ARS</option>
                        <option value="">BGN</option>
                        <option value="">CZK</option>
                        <option value="">DKK</option>
                    </select>
                </div>
                <div class="chooseCurrency" style="margin-left: 30%;">
                    <p>From</p>
                    <select>
                        <option value="">EUR</option>
                        <option value="">USD</option>
                        <option value="">PLN</option>
                        <option value="">CHF</option>
                        <option value="">ARS</option>
                        <option value="">BGN</option>
                        <option value="">CZK</option>
                        <option value="">DKK</option>
                    </select>
                </div>
            </div>
            
        </div>
    </div>
</div>